
{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}


{% block body %}


 <link rel="stylesheet" href="{{ asset('css/styleLog.css') }}">

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <img src="{{ asset('img/flopify_vert.png') }}">
                    
                    <h3 class="text-center mb-4">Flopify</h3>
                    {{ form_start(registrationForm, {'attr': {'class': 'login-form', 'method': 'POST', 'action': '#' }}) }}
                    {{ form_row(registrationForm.email, {'attr': {'class': 'form-control', 'autocomplete': 'email', 'placeholder': 'Entrer votre Email', 'required': 'required', 'autofocus': 'autofocus' }}) }}
					{{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'autocomplete': 'current-password', 'placeholder': 'Entrer un Mot de passe', 'required': 'required'}, 'label': 'Mot de passe'}) }}
                    
					<div class="form-group">
					
                        <div class="mb-2">
							<a href="{{ path('app_login') }}">Déjà un compte ?
						</div>

						<button type="submit" class="btn btn-primary rounded submit p-3 px-5">S'enregistrer</button>
                    </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


{% block stylesheets %}
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}
