{% extends 'base.html.twig' %}


{% block title %}Modifier Artiste{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-4">Modifier un artiste</h1>
    <div class="row mt-5 justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card artist-card">
                <div class="card-body">
                    <div class="form-group">
                        {{ form_start(form) }}
                            {{ form_row(form.name, {
                                label: 'Nom de l\'artiste',
                                'attr': {
                                    'class': 'form-control mb-3',
                                    'placeholder': 'Entrez le nom de l\'artiste'
                                }
                            }) }}
                            {{ form_row(form.image, {
                                label: 'Image',
                                'attr': {
                                    'class': 'form-control mb-3',
                                    'placeholder': 'Entrez l\'url de l\'image'
                                }
                            }) }}
                            {{ form_row(form.genres, {
                                label: 'Genres',
                                'attr': {
                                    'class': 'form-control mb-3',
                                    'multiple': 'multiple',
                                },
                                'choice_attr': {
                                    'selected': 'selected',
                                },
                            }) }}
                            <button type="submit" class="btn btn-outline-light btn-rounded">Mettre à jour l'artiste</button>
                        {{ form_end(form) }}
                    </div>
                </div>

        <div class="col text-center mb-4">
            {{ include('artist/_delete_form.html.twig') }}
    </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col text-center">
            <a href="{{ path('app_artist_index') }}" class="btn btn-secondary">Retour à la liste</a>
        </div>
    </div>
    
</div>
{% endblock %}