
{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}


{% block body %}

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>

<div class="container">
    <h1 class="text-center mt-4">Artistes</h1>
    <div class="row mt-5">
        {% for artist in artists %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card artist-card">
                    <div class="card-body">
                    <h5 class="card-title">{{ artist.name }}</h5>
                    <p>ID: {{ artist.id }}</p>
                    <div class="button-container">
                        <a href="{{ path('app_artist_show', {'id': artist.id}) }}" class="btn btn-primary">Voir</a>
                        <a href="{{ path('app_artist_edit', {'id': artist.id}) }}" class="btn btn-primary">Modifier</a>
                    </div>
                </div>
                </div>
                
            </div>
        {% endfor %}
    </div>
    <div class="row mt-4">
        <div class="col text-center">
            <a href="{{ path('app_artist_new') }}" class="btn btn-success">Ajouter un artiste</a>
        </div>
    </div>
</div>

{% endblock %}