{% extends 'base.html.twig' %}

{% block title %}Artist{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-4">{{ artist.name }}</h1>
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="card artist-card">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Nom de l'artiste: {{ artist.name }}
                        </div>
                        <div class="form-group">
                            <label>ID: {{ artist.id }}
                        </div>
                        <div class="form-group">
                            <div>
                                {% if artist.image %}
                                    <img src="{{ artist.image }}" alt="{{ artist.name }}">
                                {% else %}
                                    No image available
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Genres:</label>
                            <ul>
                                {% for genre in artist.genres %}
                                    <li>{{ genre }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="form-group">
                            <label>Albums:</label>
                            <ul>
                                {% for album in artist.albums %}
                                    <li>{{ album.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <a href="{{ path('app_artist_edit', {'id': artist.id}) }}" class="btn btn-outline-light btn-rounded mb-4">Modifier l'artiste</a>
                        {{ include('artist/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <a href="{{ path('app_artist_index') }}" class="btn btn-secondary">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
